body{
  margin: 0px;
}


.bg {
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  }
  .lg{
    height: 100vh;
    width: 100%;
    font: 17px "Century Gothic", Futura, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: none;
    border: 2px solid rgb(143, 14, 143);
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 10rem;
    height: 11rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width:11rem;
    color: white;
    cursor: pointer;
  }
  
  .square:focus {
    color: rgb(143, 14, 144);
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background:none;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 13rem;
  }
  
  .game-info {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(143, 14, 143);
    height: 30px;
    padding: 10px;
    color: white;
  }
  .text{
    color: rgb(143, 14, 143);
    text-align: center;
    margin-bottom: 2rem;

    
  }
  .game-board{
    background: none;
  }
  
  .gs{
    color: white;
    font-size: 18px;
    background-color: black;
  display: none;
  justify-content: center;
  border: 3px solid rgb(143, 14, 143);
  padding: 10px;
  align-items: center;
  cursor: pointer ;
  margin-left: 7.8rem;
  }